:root {
  --color1: #434455;
  --color2: #2e2f42;
  --color3: #4d5ae5;
  --color4: #404bbf;
  --color5: #ffffff;
  --color6: #e7e9fc;
  --color7: #f4f4fd;
  --background-color-hero: #2e2f42;
  --background-color-buttton: #4d5ae5;
  --background-color-buttons: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color1);
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navigation-header {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  margin-right: auto;
}
.list {
  list-style: none;
}
.logotip {
  color: var(--color3);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
span.studiolog {
  color: var(--color2);
}
.main {
  color: var(--color2);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
}
.main:active {
  color: var(--color4);
}
.main:focus {
  color: var(--color4);
}
.main:hover {
  color: var(--color4);
}
.contact {
  text-decoration: none;
  color: var(--color1);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact:hover {
  color: var(--color4);
}
.contact:focus {
  color: var(--color4);
}
.hero {
  background-color: var(--background-color-hero);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/office\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 56px;
  color: var(--color5);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
}
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.button {
  background-color: var(--color3);
  color: var(--color5);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: center;
  border: none;
}

.button:hover {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:focus {
  background-color: var(--color4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}
.section-text {
  padding-top: 120px;
  padding-bottom: 120px;
}
.iteam {
  flex-basis: calc(100% / 4);
}
.picture {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.our-action {
  padding-bottom: 120px;
}
.title-action {
  margin-bottom: 72px;
}
.our-team {
  padding-top: 72px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.second-picture {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
}
.teams {
  padding: top 16px;
  margin-bottom: 8px;
  text-align: center;
}
.teams-indent {
  text-align: center;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.subtitle {
  color: var(--color2);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}
.minor {
  color: var(--color2);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  margin-bottom: 8px;
}
.indent {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.herofooter {
  background-color: var(--color2);
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}
.subfooter {
  color: var(--color6);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.footerlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
span.logo {
  color: var(--color3);
}
span.type {
  color: var(--color7);
}
.navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--background-color-buttons);
  color: var(--color3);
  border: 1px solid var(--color6);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
.navigation:hover {
  background-color: var(--color4);
  color: var(--color5);
}
.navigation:focus {
  background-color: var(--color4);
  color: var(--color5);
}
.navigation:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.navigation:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.links {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color1);
  line-height: 1.5;
}
.roster {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.buttons-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-images {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
}
.second-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cards-teams:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-port {
  margin-bottom: 8px;
}
.img-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
}
.cards-teams {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.advantages-icon {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.icons {
  width: 40px;
  height: 40px;
}
.icon-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
}
.icon-links:hover {
  background-color: #404bbf;
}
.icon-links:focus {
  background-color: #404bbf;
}
.client {
  padding-top: 130px;
  padding-bottom: 120px;
}
.client-icon {
  padding-top: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-client {
  width: 168px;
  height: 88px;
}
.link-client {
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.clients-links {
  fill: currentColor;
}
.link-client:hover {
  border-color: #404bbf;
}
.link-client:focus {
  border-color: #404bbf;
}
.link-client:hover {
  color: #404bbf;
}
.link-client:focus {
  color: #404bbf;
}
.hero-spant {
  padding-left: 120px;
}

.list-footer {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  list-style: none;
}
.list-foot {
  width: 40px;
  height: 40px;
}
.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff1a;
  fill: #f4f4fd;
}
.link-footer:hover {
  background-color: #31d0aa;
}
.link-footer:focus {
  background-color: #31d0aa;
}

.footer-tittle {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.first-div {
  display: flex;
}
